ADF-INDCENTL-POC-BLOBTOSQL/PartialArmTemplates/ArmTemplate_10_21_2019_12_33_55.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "ADF-INDCENTL-POC-BLOBTOSQL"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/LoadDataToADLAStg')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "uspGetMachineCycles",
						"type": "DataLakeAnalyticsU-SQL",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"scriptPath": "ADFDW/Script/ADFDW.dbo.uspGetMachineCycles.txt",
							"scriptLinkedService": {
								"referenceName": "linkedService1",
								"type": "LinkedServiceReference"
							},
							"parameters": {
								"SliceStartDate": {
									"value": "@formatDateTime(utcnow(),'yyyy-MM-dd HH:mm:ssZ')",
									"type": "Expression"
								},
								"SliceEndDate": {
									"value": "@formatDateTime(utcnow(),'yyyy-MM-dd HH:mm:ssZ')",
									"type": "Expression"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureDataLakeAnalytics1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Copy_ADLA_StgMachineCycle",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "uspGetMachineCycles",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureDataLakeStoreReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"type": "Int32",
											"ordinal": 1
										},
										"sink": {
											"name": "CycleId",
											"type": "Int32"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 2
										},
										"sink": {
											"name": "MachineName",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 3
										},
										"sink": {
											"name": "CustomerName",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "DateTime",
											"ordinal": 4
										},
										"sink": {
											"name": "StartDateTime",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"type": "DateTime",
											"ordinal": 5
										},
										"sink": {
											"name": "EndDateTime",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"type": "DateTime",
											"ordinal": 6
										},
										"sink": {
											"name": "LastModified",
											"type": "DateTime"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "StgMachineCycleFile",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "Stg_Machine",
								"type": "DatasetReference"
							}
						]
					}
				],
				"folder": {
					"name": "Demo_ADLS_PROJ"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/StgMachineCycleFile')]",
				"[concat(variables('factoryId'), '/datasets/Stg_Machine')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/StgMachineCycleFile')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ADLA_Stg_MachineCycle",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureDataLakeStoreLocation",
						"fileName": "stgMachineCycles.csv",
						"folderPath": "ADFDW/Staging"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": [
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Stg_Machine')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DWLinkedService",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "CycleId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "MachineName",
						"type": "varchar"
					},
					{
						"name": "CustomerName",
						"type": "varchar"
					},
					{
						"name": "StartDateTime",
						"type": "datetime2",
						"scale": 7
					},
					{
						"name": "EndDateTime",
						"type": "datetime2",
						"scale": 7
					},
					{
						"name": "LastModified",
						"type": "datetime2",
						"scale": 7
					}
				],
				"typeProperties": {
					"schema": "stg",
					"table": "MachineCycle"
				}
			},
			"dependsOn": []
		}
	]
}