pipeline/DeltaCopyIfExists.json
{
	"name": "DeltaCopyIfExists",
	"properties": {
		"description": "Will read data from file FileName_YYYY_MM_DD.csv",
		"activities": [
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "SourceDataset_t6r",
						"type": "DatasetReference"
					},
					"fieldList": [
						"exists",
						"itemName"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [
					{
						"name": "FileName",
						"value": "@concat('First_',formatDateTime(utcnow(),'yyyy'),'_', formatDateTime(utcnow(),'MM'),'_',formatDateTime(utcnow(),'dd'),'.csv')"
					}
				],
				"typeProperties": {
					"expression": {
						"value": "@activity('Get Metadata1').output.exists",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Copy_Blob_To_AzSql",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [
								{
									"name": "Source",
									"value": "sbressmessage//"
								},
								{
									"name": "Destination",
									"value": "[dbo].[EMP]"
								}
							],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"wildcardFileName": {
											"value": "@{concat('First_',formatDateTime(utcnow(),'yyyy'),'*.csv')}",
											"type": "Expression"
										},
										"enablePartitionDiscovery": false,
										"modifiedDatetimeStart": {
											"value": "@{concat(formatDateTime(utcnow(),'MM'),'/', formatDateTime(utcnow(),'dd'),'/',formatDateTime(utcnow(),'yyyy'),' 00:00:00')}",
											"type": "Expression"
										}
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings",
										"skipLineCount": 0
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"preCopyScript": "truncate table [dbo].[emp]"
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"type": "String",
												"ordinal": 1
											},
											"sink": {
												"name": "EMPNO",
												"type": "Int32"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 2
											},
											"sink": {
												"name": "ENAME",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 3
											},
											"sink": {
												"name": "JOB",
												"type": "String"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 4
											},
											"sink": {
												"name": "MGR",
												"type": "Int32"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 5
											},
											"sink": {
												"name": "HIREDATE",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 6
											},
											"sink": {
												"name": "SAL",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 7
											},
											"sink": {
												"name": "COMM",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 8
											},
											"sink": {
												"name": "DEPTNO",
												"type": "Int32"
											}
										}
									]
								}
							},
							"inputs": [
								{
									"referenceName": "SourceDataset_t6r",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "DestinationDataset_t6r",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "Processed Success",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Copy_Blob_To_AzSql",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[Sp_UserBlobLog]",
								"storedProcedureParameters": {
									"BlobName": {
										"value": {
											"value": "@activity('Get Metadata1').output.itemName",
											"type": "Expression"
										},
										"type": "String"
									},
									"ProcessStatus": {
										"value": {
											"value": "@activity('Copy_Blob_To_AzSql').output.executionDetails[0].status",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzSqlBallEdw",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Processed Failed",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Copy_Blob_To_AzSql",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[Sp_UserBlobLog]",
								"storedProcedureParameters": {
									"BlobName": {
										"value": {
											"value": "@activity('Get Metadata1').output.itemName",
											"type": "Expression"
										},
										"type": "String"
									},
									"ProcessStatus": {
										"value": {
											"value": "@activity('Copy_Blob_To_AzSql').output.executionDetails[0].status",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzSqlBallEdw",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "Demo_Cloud_Cloud"
		},
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}