pipeline/Emailsend.json
{
	"name": "Emailsend",
	"properties": {
		"activities": [
			{
				"name": "Copy Data1",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSetting",
							"recursive": true
						},
						"formatSettings": {
							"type": "DelimitedTextReadSetting"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "  truncate table [dbo].[EMP]"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"type": "String",
									"ordinal": 1
								},
								"sink": {
									"name": "EMPNO",
									"type": "Int32"
								}
							},
							{
								"source": {
									"ordinal": 2
								},
								"sink": {
									"name": "ENAME",
									"type": "String"
								}
							},
							{
								"source": {
									"ordinal": 3
								},
								"sink": {
									"name": "JOB",
									"type": "String"
								}
							},
							{
								"source": {
									"ordinal": 4
								},
								"sink": {
									"name": "MGR",
									"type": "Int32"
								}
							},
							{
								"source": {
									"ordinal": 5
								},
								"sink": {
									"name": "HIREDATE",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"ordinal": 6
								},
								"sink": {
									"name": "SAL",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"ordinal": 7
								},
								"sink": {
									"name": "COMM",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"ordinal": 8
								},
								"sink": {
									"name": "DEPTNO",
									"type": "Int32"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "dynamic_file_Conn",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DestinationDataset_tgc",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "FailedSendMail",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Copy Data1",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-15.centralindia.logic.azure.com:443/workflows/b56a0aa64f9d46ca8ad56d7b60f7a3f8/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=MlXlveqJFHpY4r3KlZ-MeHByMJ6N0e3EssttKtatoNY",
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"body": {
						"message": "@{activity('Copy Data1').error.message}",
						"dataFactoryName": "@{pipeline().DataFactory}",
						"pipelineName": "@{pipeline().Pipeline}",
						"receiver": "@pipeline().parameters.receiver"
					}
				}
			}
		],
		"parameters": {
			"receiver": {
				"type": "string",
				"defaultValue": "rajeshpalo2003@hotmail.com"
			}
		},
		"folder": {
			"name": "Demo_Cloud_Cloud"
		},
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}