pipeline/Lookupdata_OnPremtoAzSQL.json
{
	"name": "Lookupdata_OnPremtoAzSQL",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource"
					},
					"dataset": {
						"referenceName": "Vw_Customer",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy Data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderStoredProcedureName": "[dbo].[SP_LKP_SALESQTY]",
									"storedProcedureParameters": {
										"CustId": {
											"type": "Int32",
											"value": {
												"value": "@item().CustomerID",
												"type": "Expression"
											}
										}
									}
								},
								"sink": {
									"type": "AzureSqlSink"
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "Vw_Customer",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "AzSql_tbl_LKP_SALESQTY",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"folder": {
			"name": "Demo_OnPrem_Cloud"
		},
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}