ADF-INDCENTL-POC-BLOBTOSQL/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "ADF-INDCENTL-POC-BLOBTOSQL"
		},
		"ADLA_Stg_MachineCycle_servicePrincipalKey": {
			"type": "secureString",
			"metadata": "Secure string for 'servicePrincipalKey' of 'ADLA_Stg_MachineCycle'"
		},
		"AzAdvDBConn_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzAdvDBConn'"
		},
		"AzBlobFirstFile_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzBlobFirstFile'"
		},
		"AzSqlBallEdw_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzSqlBallEdw'"
		},
		"AzureBlobCsvfileOnly_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureBlobCsvfileOnly'"
		},
		"AzureBlobDeltaFileName_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureBlobDeltaFileName'"
		},
		"AzureBlobStorage1_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureBlobStorage1'"
		},
		"AzureBlobfailedload_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureBlobfailedload'"
		},
		"AzureDataLakeAnalytics1_servicePrincipalKey": {
			"type": "secureString",
			"metadata": "Secure string for 'servicePrincipalKey' of 'AzureDataLakeAnalytics1'"
		},
		"DWLinkedService_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'DWLinkedService'"
		},
		"ReferenceDBLinkedService_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'ReferenceDBLinkedService'"
		},
		"dynamicLinkservice_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'dynamicLinkservice'"
		},
		"linkedService1_servicePrincipalKey": {
			"type": "secureString",
			"metadata": "Secure string for 'servicePrincipalKey' of 'linkedService1'"
		},
		"ADLA_Stg_MachineCycle_properties_typeProperties_dataLakeStoreUri": {
			"type": "string",
			"defaultValue": "https://adlsdw.azuredatalakestore.net/webhdfs/v1"
		},
		"ADLA_Stg_MachineCycle_properties_typeProperties_servicePrincipalId": {
			"type": "string",
			"defaultValue": "bbfe9984-cb82-4a1a-aada-5a34940576e3"
		},
		"ADLA_Stg_MachineCycle_properties_typeProperties_tenant": {
			"type": "string",
			"defaultValue": "c96c97cf-4577-46e9-a97e-9910b78ad8e9"
		},
		"ADLA_Stg_MachineCycle_properties_typeProperties_subscriptionId": {
			"type": "string",
			"defaultValue": "40066356-3916-4023-abd1-ff0bdef8f880"
		},
		"ADLA_Stg_MachineCycle_properties_typeProperties_resourceGroupName": {
			"type": "string",
			"defaultValue": "RG-INDCENTL-POC-BALLEDW"
		},
		"AzureDataLakeAnalytics1_properties_typeProperties_accountName": {
			"type": "string",
			"defaultValue": "adlaball"
		},
		"AzureDataLakeAnalytics1_properties_typeProperties_servicePrincipalId": {
			"type": "string",
			"defaultValue": "bbfe9984-cb82-4a1a-aada-5a34940576e3"
		},
		"AzureDataLakeAnalytics1_properties_typeProperties_tenant": {
			"type": "string",
			"defaultValue": "c96c97cf-4577-46e9-a97e-9910b78ad8e9"
		},
		"AzureDataLakeAnalytics1_properties_typeProperties_subscriptionId": {
			"type": "string",
			"defaultValue": "40066356-3916-4023-abd1-ff0bdef8f880"
		},
		"AzureDataLakeAnalytics1_properties_typeProperties_resourceGroupName": {
			"type": "string",
			"defaultValue": "RG-INDCENTL-POC-BALLEDW"
		},
		"linkedService1_properties_typeProperties_dataLakeStoreUri": {
			"type": "string",
			"defaultValue": "https://adlsdw.azuredatalakestore.net/webhdfs/v1"
		},
		"linkedService1_properties_typeProperties_servicePrincipalId": {
			"type": "string",
			"defaultValue": "bbfe9984-cb82-4a1a-aada-5a34940576e3"
		},
		"linkedService1_properties_typeProperties_tenant": {
			"type": "string",
			"defaultValue": "c96c97cf-4577-46e9-a97e-9910b78ad8e9"
		},
		"linkedService1_properties_typeProperties_subscriptionId": {
			"type": "string",
			"defaultValue": "40066356-3916-4023-abd1-ff0bdef8f880"
		},
		"linkedService1_properties_typeProperties_resourceGroupName": {
			"type": "string",
			"defaultValue": "RG-INDCENTL-POC-BALLEDW"
		},
		"SSISintegrationRuntime_properties_typeProperties_ssisProperties_catalogInfo_catalogServerEndpoint": {
			"type": "string",
			"defaultValue": "db-seast-poc-balledw.database.windows.net"
		},
		"SSISintegrationRuntime_properties_typeProperties_ssisProperties_catalogInfo_catalogAdminUserName": {
			"type": "string",
			"defaultValue": "rpalo"
		},
		"SSISintegrationRuntime_properties_typeProperties_ssisProperties_catalogInfo_catalogAdminPassword": {
			"type": "secureString"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Process_AAS_Model')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "AAS_FullProcess",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-15.centralindia.logic.azure.com:443/workflows/f6fcddb54b01477c8dea765d11ec6e09/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=vRR4XvjtPJJ05_m0CI50mQ7kEBICxk_nLgabx3VZopQ",
							"method": "POST",
							"headers": {},
							"body": {
								"message": "hello world"
							}
						}
					}
				],
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ADLA_Stg_MachineCycle')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDataLakeStore",
				"typeProperties": {
					"dataLakeStoreUri": "[parameters('ADLA_Stg_MachineCycle_properties_typeProperties_dataLakeStoreUri')]",
					"servicePrincipalId": "[parameters('ADLA_Stg_MachineCycle_properties_typeProperties_servicePrincipalId')]",
					"servicePrincipalKey": {
						"type": "SecureString",
						"value": "[parameters('ADLA_Stg_MachineCycle_servicePrincipalKey')]"
					},
					"tenant": "[parameters('ADLA_Stg_MachineCycle_properties_typeProperties_tenant')]",
					"subscriptionId": "[parameters('ADLA_Stg_MachineCycle_properties_typeProperties_subscriptionId')]",
					"resourceGroupName": "[parameters('ADLA_Stg_MachineCycle_properties_typeProperties_resourceGroupName')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzAdvDBConn')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('AzAdvDBConn_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzBlobFirstFile')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('AzBlobFirstFile_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzSqlBallEdw')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('AzSqlBallEdw_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureBlobCsvfileOnly')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('AzureBlobCsvfileOnly_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureBlobDeltaFileName')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('AzureBlobDeltaFileName_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureBlobStorage1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('AzureBlobStorage1_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureBlobfailedload')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('AzureBlobfailedload_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDataLakeAnalytics1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDataLakeAnalytics",
				"typeProperties": {
					"accountName": "[parameters('AzureDataLakeAnalytics1_properties_typeProperties_accountName')]",
					"servicePrincipalId": "[parameters('AzureDataLakeAnalytics1_properties_typeProperties_servicePrincipalId')]",
					"servicePrincipalKey": {
						"type": "SecureString",
						"value": "[parameters('AzureDataLakeAnalytics1_servicePrincipalKey')]"
					},
					"tenant": "[parameters('AzureDataLakeAnalytics1_properties_typeProperties_tenant')]",
					"subscriptionId": "[parameters('AzureDataLakeAnalytics1_properties_typeProperties_subscriptionId')]",
					"resourceGroupName": "[parameters('AzureDataLakeAnalytics1_properties_typeProperties_resourceGroupName')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DWLinkedService')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('DWLinkedService_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ReferenceDBLinkedService')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('ReferenceDBLinkedService_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/dynamicLinkservice')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('dynamicLinkservice_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/linkedService1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDataLakeStore",
				"typeProperties": {
					"dataLakeStoreUri": "[parameters('linkedService1_properties_typeProperties_dataLakeStoreUri')]",
					"servicePrincipalId": "[parameters('linkedService1_properties_typeProperties_servicePrincipalId')]",
					"servicePrincipalKey": {
						"type": "SecureString",
						"value": "[parameters('linkedService1_servicePrincipalKey')]"
					},
					"tenant": "[parameters('linkedService1_properties_typeProperties_tenant')]",
					"subscriptionId": "[parameters('linkedService1_properties_typeProperties_subscriptionId')]",
					"resourceGroupName": "[parameters('linkedService1_properties_typeProperties_resourceGroupName')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SSISintegrationRuntime')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "Managed",
				"description": "SSIS Lift and Shift",
				"typeProperties": {
					"computeProperties": {
						"location": "Central India",
						"nodeSize": "Standard_D2_v3",
						"numberOfNodes": 1,
						"maxParallelExecutionsPerNode": 1
					},
					"ssisProperties": {
						"catalogInfo": {
							"catalogServerEndpoint": "[parameters('SSISintegrationRuntime_properties_typeProperties_ssisProperties_catalogInfo_catalogServerEndpoint')]",
							"catalogAdminUserName": "[parameters('SSISintegrationRuntime_properties_typeProperties_ssisProperties_catalogInfo_catalogAdminUserName')]",
							"catalogAdminPassword": {
								"type": "SecureString",
								"value": "[parameters('SSISintegrationRuntime_properties_typeProperties_ssisProperties_catalogInfo_catalogAdminPassword')]"
							},
							"catalogPricingTier": "Basic"
						},
						"edition": "Standard",
						"licenseType": "LicenseIncluded"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SelfhostedintegrationRuntime')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Demo_WebHook')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Stored Procedure1",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Web1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[USP_Insert_Postal_Branch_Details]",
							"storedProcedureParameters": {
								"Block": {
									"value": {
										"value": "@json(activity('Web1').output.Response)[0].PostOffice[0].Block",
										"type": "Expression"
									},
									"type": "String"
								},
								"BranchDesc": {
									"value": {
										"value": "@json(activity('Web1').output.Response)[0].PostOffice[0].Description",
										"type": "Expression"
									},
									"type": "String"
								},
								"BranchName": {
									"value": {
										"value": "@json(activity('Web1').output.Response)[0].PostOffice[0].Name",
										"type": "Expression"
									},
									"type": "String"
								},
								"BranchType": {
									"value": {
										"value": "@json(activity('Web1').output.Response)[0].PostOffice[0].BranchType",
										"type": "Expression"
									},
									"type": "String"
								},
								"Circle": {
									"value": {
										"value": "@json(activity('Web1').output.Response)[0].PostOffice[0].Circle",
										"type": "Expression"
									},
									"type": "String"
								},
								"Country": {
									"value": {
										"value": "@json(activity('Web1').output.Response)[0].PostOffice[0].Country",
										"type": "Expression"
									},
									"type": "String"
								},
								"DeliveryStatus": {
									"value": {
										"value": "@json(activity('Web1').output.Response)[0].PostOffice[0].DeliveryStatus",
										"type": "Expression"
									},
									"type": "String"
								},
								"District": {
									"value": {
										"value": "@json(activity('Web1').output.Response)[0].PostOffice[0].District",
										"type": "Expression"
									},
									"type": "String"
								},
								"Division": {
									"value": {
										"value": "@json(activity('Web1').output.Response)[0].PostOffice[0].Division",
										"type": "Expression"
									},
									"type": "String"
								},
								"Pincode": {
									"value": {
										"value": "@json(activity('Web1').output.Response)[0].PostOffice[0].Pincode",
										"type": "Expression"
									},
									"type": "String"
								},
								"Region": {
									"value": {
										"value": "@json(activity('Web1').output.Response)[0].PostOffice[0].Region",
										"type": "Expression"
									},
									"type": "String"
								},
								"State": {
									"value": {
										"value": "@json(activity('Web1').output.Response)[0].PostOffice[0].State",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzAdvDBConn",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Web1",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://api.postalpincode.in/pincode/500016",
							"method": "GET",
							"headers": {}
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzAdvDBConn')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LoadDataToDim')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "LoadDimMachine",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[stg].[uspLoadDimMachine]"
						},
						"linkedServiceName": {
							"referenceName": "DWLinkedService",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "LoadDimCustomer",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "LoadDimMachine",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[stg].[uspLoadDimCustomer]"
						},
						"linkedServiceName": {
							"referenceName": "DWLinkedService",
							"type": "LinkedServiceReference"
						}
					}
				],
				"folder": {
					"name": "Demo_ADLS_PROJ"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DWLinkedService')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AZADV_Customer')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzAdvDBConn",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "CustomerID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "NameStyle",
						"type": "bit"
					},
					{
						"name": "Title",
						"type": "nvarchar"
					},
					{
						"name": "FirstName",
						"type": "nvarchar"
					},
					{
						"name": "MiddleName",
						"type": "nvarchar"
					},
					{
						"name": "LastName",
						"type": "nvarchar"
					},
					{
						"name": "Suffix",
						"type": "nvarchar"
					},
					{
						"name": "CompanyName",
						"type": "nvarchar"
					},
					{
						"name": "SalesPerson",
						"type": "nvarchar"
					},
					{
						"name": "EmailAddress",
						"type": "nvarchar"
					},
					{
						"name": "Phone",
						"type": "nvarchar"
					},
					{
						"name": "PasswordHash",
						"type": "varchar"
					},
					{
						"name": "PasswordSalt",
						"type": "varchar"
					},
					{
						"name": "rowguid",
						"type": "uniqueidentifier"
					},
					{
						"name": "ModifiedDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"tableName": "[[dbo].[DimCustomer]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzAdvDBConn')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzAdv')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzAdvDBConn",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ProductCategoryID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ParentProductCategoryID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Name",
						"type": "nvarchar"
					},
					{
						"name": "rowguid",
						"type": "uniqueidentifier"
					},
					{
						"name": "ModifiedDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "SalesLT",
					"table": "ProductCategory"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzAdvDBConn')]"
			]
		}
	]
}